body {
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

#app-base {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 0 0 0 10vw;
  font-size: 1.25em;
  background: #27436f;
  font-family: serif;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 5px;
}

main {
  background: #efefef;
  border-top: 2px solid #fff;
  padding: 25px 10vw;
  display: block;
  min-height: 90vh;
}

footer {
  text-align: center;
  background: #27436f;
  color: #fff;
}

footer a {
 color: #fff; 
}

#home {
  font-family: 'Stardos Stencil', sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: #d6b52c;
}

.input-row {
  margin: 10px 0;
}

.input-row label {
  display: block;
}

.errors {
  margin: 0;
  padding: 0;
  list-style: none;
  color: red;
}

.cap {
  text-transform: capitalize;
}

.message {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
}