#app-base {

}

header {
  
}

main {
  display: block;
  min-height: 80vh;
  width: 80vw;
  margin: 0 auto;
}

footer {
  text-align: center;
}

.input-row {
  margin: 10px 0;
}

.input-row label {
  display: block;
}

.errors {
  margin: 0;
  padding: 0;
  list-style: none;
  color: red;
}