appdirs==1.4.3
dj-database-url==0.4.2
Django==2.0.2
graphene==2.0.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.6.0
iso8601==0.1.12
packaging==16.8
promise==2.1
psycopg2==2.7.4
pyparsing==2.2.0
pytz==2017.3
Rx==1.6.0
singledispatch==3.4.0.3
six==1.11.0
typing==3.6.4
whitenoise==3.3.0
