@import 'variables';

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

* {
  box-sizing: inherit;
}


a {
  color: $black;
}

.cap {
  text-transform: capitalize;
}

main {
  background: $light-gray;
  font-size: 20px;
  border-top: 2px solid $white;
  display: block;
  padding: 0 5px 25px;
  min-height: 85vh;
  color: $black;

  @media (min-width: 800px) {
    font-size: 16px;
  }
}


@import 'container';
@import 'buttons';
