@import 'variables';

header {
  min-height: 10vh;
  font-size: 1.25em;
  background: #27436f;
  font-family: 'Roboto Slab', serif;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  text-decoration: underline;
}

#home {
  font-family: 'Stardos Stencil', sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: $gold;
}

nav {
  color: #fff;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 5px;
  position: relative;
}

nav li ul {
  display: none;
  position: absolute;
  background: #fff;
  border-color: #27436f;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

nav li ul li {
  padding: 2px 5px;
  color: #27436f;
}

nav li ul li a {
  color: #27436f;
}

nav li:hover ul {
  display: block;
}

.user-points {
  color: $white;
  padding: 2px 5px;
  border-radius: 3px;
  margin-left: 5px;
}