@import 'variables';

.tool-loader {

  .tool-choices {
    button {
      margin: 5px 15px;
    }
  }

  .tool {
    background: $white;
    border: 1px solid $dark-gray;
    padding: 5px;
    margin: 10px 0;

    h3 {
      margin: 0;
    }
  }
}