$gold: #d6b52c;

$white: #fff;
$light-gray: #efefef;
$gray: #ccc;
$dark-gray: #666;
$black: #222;

$orange: #ef6c00;

$navy-blue: #27436f;
$blue: #3863a7;
$light-blue: #669df5;

$dark-red: #9e1814;
$red: #e53935;
$light-red: #f37c79;

$dark-green: #2a652d;
$green: #43a047;
$light-green: #69bb6c;
