@import 'variables';

table.vigenere-table {
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid $black;
  }

  td {
    border-right: 1px solid $black;
    padding: 0 3px;
    text-align: center;
  }

  td:last-child {
    border-right: 0;
  }

  thead td {
    border: 0;
  }
}

.shift-keys {
  display: flex;
  flex-flow: row wrap;
}

.vigenere-char {
  p {
    margin: 0;
    text-align: center;
  }
}

.vigenere-indices {
  display: flex;
  flex-flow: row wrap;

  .char-index {
    margin: 0 5px;
    display: flex;
    flex-flow: column nowrap;
  }
}